a {
  text-decoration: none;
}

:root {
  --bg: #1f2022;
  --main: #eee;
  --second: #00adb5;
  --light-text: #fff;
  --font-family: "Josefin Sans", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Poppins", sans-serif;
}


.page__body {
  margin: 0;
  background-color: var(--bg);
}

.container {
  max-width: 1382px;
  padding: 0 15px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}


.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  padding: 25px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--light-text);
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: none;
}

.nav__link:focus-visible {
  outline: 2px dashed var(--second);
  outline-offset: 4cap;
}

@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--second);
  }
}

.nav__link:active {
  color: var(--second);
}

.nav__link--active {
  color: var(--second);
}

.btn {
  background-color: var(--main);
  border-radius: 3px;
  padding: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.hero {
  background-image: url("../img/bg.png");
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  /* min-height: 882px; */
  /* height: 100%;
  min-height: calc(100vh - 100px); */

}

.hero__container {
  height: 100%;
  min-height: calc(100vh - 100px);
}

.hero__left,
.hero__content {
  grid-column: 6 span;
  padding-bottom: 40px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero__level {
  position: relative;
  /* margin-top: 290px; */
  margin-top: 30vh;
  max-width: 270px;
  padding-left: 30px;
  line-height: 167%;
  font-weight: 800;
  font-size: 24px;
  color: var(--main)
}

.hero__level::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  background-color: var(--second);
  width: 20px;
  height: 3px;
}

.hero__text {
  max-width: 180px;
  color: var(--second);
  font-weight: 800;
  font-size: 24px;
  line-height: 125%
}

.hero__content {
  padding-top: 150px;
  max-width: 525px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  visibility: hidden;
}

.hero__hello {
  font-weight: 500;
  flex: 18px;
  color: var(--main);
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

.hero__hello span {
  font-weight: 800;
  font-size: 100px;
  letter-spacing: 0.06em;
  color: var(--second);
}

.hero__descr {
  margin: 0;
  margin-bottom: auto;
  max-width: 550px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.hero__shots {
  margin-top: 30px;
}

.latest-shots__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.latest-shots__title {
  margin: 0;
  margin-right: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.latest-shots__all {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: var(--second);
}

.latest-shots__content {
  display: flex;
  gap: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  width: calc(100% + 80px);
}

.latest-shots__link {
  flex-shrink: 0;
}

.latest-shots__image {
  border-radius: 5px;
}

.latest-shots__nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.latest-shots__btn {
  width: 28px;
  height: 28px;
  
}

.latest-shots__btn svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: var(--light-text);
}